/build/api/
/build/code-browser/
/build/coverage/
/build/logs/
/build/pdepend/
/build/phpdoc/
/build/tmp/
/vendor/
/composer.phar
/.idea/
/tests/data/*/coverage.clover
/frontend/output/
/frontend/app/bower_components/
/output/
