

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
                <tr>
                    <th>Filename:</th>
                    <td>{{ filename }}</td>
                </tr>
                <tr>
                    <th>Revision Count:</th>
                    <td>{{ filteredFiles.length }}</td>
                </tr>
                <tr>
                    <th><label for="show-changed-only">Show Changed Only:</label></th>
                    <td><input id="show-changed-only" type="checkbox" ng-model="display.changedOnly"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>Revision:</th>
            <th>Operation:</th>
            <th>Created:</th>
            <th>Author:</th>
            <th>Commit Message:</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="file in filteredFiles = (fileInRevisions | filter: filterByOperation)">
            <td><code><a ui-sref="revision_file({identifier: file.identifier, new_filename: filename})">{{ file.short_identifier }}</a></code></td>
            <td>{{ file.operation }}</td>
            <td>{{ file.created | amDateFormat:'DD/MM/YYYY h:mma' }}</td>
            <td>{{ file.author }}</td>
            <td>{{ file.message }}</td>
        </tr>
    </tbody>
</table>
