

body {
    overflow-y: scroll;
}

footer {
    margin: 30px auto 0 auto;
    padding: 10px 0 10px 0;
    border-top: 1px solid #bbb;
    text-align: center;
    font-size: 0.8em;
    color: #666;
    width: 50%;
}


.code-table td {
    padding: 0 8px !important;
}

/* Code Table */

    .code-table code {
        background-color: transparent;
        color: #333;
        white-space: pre;
    }

    .code-new-line-no, .code-original-line-no {
        text-align: right;
    }

    /* Added line, highlight new line no. */
    .code-table .code-added .code-new-line-no {
        background-color: #8DC68E;
    }

    /* Removed line, highlight original line no. */
    .code-table .code-removed .code-original-line-no {
        background-color: #DD8080;
    }

    /* Highlight covered line. */
    .code-table .code-covered .code-line-content {
        background-color: #C9DDCC;
    }

    /* Tint covered colour darker on hover. */
    .code-table tr.code-covered:hover .code-line-content {
        background-color: #AADDB1;
    }

    /* Highlight uncovered line. */
    .code-table .code-not-covered .code-line-content {
        background-color: #D8B1B1;
    }

    /* Tint uncovered colour darker on hover. */
    .code-table tr.code-not-covered:hover .code-line-content {
        background-color: #DB9D9D;
    }

    /* Deleted content. */
    .code-table .code-removed .code-line-content code {
        color: #999;
    }

/* Icons */


    /* Icon for no change on this line. */
    .code-table .code-coverage-annotation {
        color: #fff;
        background-color: #eee;
    }

    /* Icon for newly added, covered code. */
    .code-table .code-added.code-covered .code-coverage-annotation {
        background-color: #8DC68E;
    }

    /* Icon for newly added, uncovered code. */
    .code-table .code-added.code-not-covered .code-coverage-annotation {
        background-color: #DD8080;
    }
